<h1> showing a todo </h1>

<p> name: <%= @todo.name %> </p>

<p> Description: <%= @todo.description %> </p>

<%= link_to "Edit This Todo", edit_todo_path(@todo)  %> |
<%= link_to "List All Todos", todos_path %>
